<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <!-- Logo on the left -->
    <a class="navbar-brand" routerLink="/">
      <img src="assets/Logo white.png" alt="{{ 'NAVBAR.BRAND' | translate }}" class="logo" />
    </a>
    
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
    </button>
    
    <!-- Menu in the center -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="closeNavbar()">
            {{ 'NAVBAR.HOME' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="closeNavbar()">{{ 'NAVBAR.ABOUT' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/our-projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="closeNavbar()">{{ 'NAVBAR.PROJECTS' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/our-partners" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="closeNavbar()">{{ 'NAVBAR.OUR_COMPANIES' | translate }}</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/contact-us"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeNavbar()"
          >
            {{ 'NAVBAR.CONTACT' | translate }}
          </a>
        </li>
      </ul>
      
      <!-- Language switcher inside collapse -->
      <div class="language-section">
        <button class="language-btn" (click)="toggleLanguage()">
          {{ currentLang === 'ar' ? 'EN' : 'ع' }}
        </button>
      </div>
    </div>
  </div>
</nav>
