<section class="our-companies-section">
	<div class="container-fluid">
		<div class="row align-items-center our-companies-wrapper">
			<div class="col-lg-4 col-md-12 order-2 order-lg-2">
				<div class="our-companies-images animate-on-scroll" aria-hidden="true">
					<img src="assets/DSC00373-HDR.jpg" alt="مبنى حديث من الزجاج"
						class="our-companies-image our-companies-image--primary" />
					<img src="assets/DSC08281-HDR.jpg" alt="منظور لمبنى تجاري"
						class="our-companies-image our-companies-image--secondary" />
				</div>
			</div>
			<div class="col-lg-8 col-md-12 order-1 order-lg-1">
				<div class="our-companies-content animate-on-scroll">
					<h2 class="our-companies-title">{{ 'OUR_COMPANIES.TITLE' | translate }}</h2>
					<p class="our-companies-description">
						{{ 'OUR_COMPANIES.DESCRIPTION' | translate }}
					</p>
				</div>
			</div>

		</div>
	</div>
</section>
<section class="companies-family-section py-3" >
	<div class="container-fluid">
		<div class="companies-card">

			<div class="row g-4 align-items-center">


				<div class="col-lg-6">
					<div class="company-intro animate-on-scroll">
						<h3 class="company-intro-title">{{ 'OUR_COMPANIES.COMPANY_1.TITLE' | translate }}</h3>
						<p class="company-intro-text">
							{{ 'OUR_COMPANIES.COMPANY_1.INTRO_TEXT_1' | translate }}</p>
						<button (click)="toggleContent()" class="company-intro-link" [ngClass]="{'show-less': showMoreContent}">
							{{ showMoreContent ? ('OUR_COMPANIES.COMPANY_1.SHOW_LESS' | translate) : ('OUR_COMPANIES.COMPANY_1.SHOW_MORE' | translate) }}
						</button>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="companies-logo-box animate-on-scroll">
						<img src="assets/logoCompanies.png" alt="عائلة الإعمار" class="companies-logo-img" />
					</div>
				</div>
			</div>

			@if (showMoreContent) {
			<div class="row g-4 align-items-center mt-3 expandable-content" [@expandCollapse]>

				<div class="col-lg-5">
					<div class="company-block company-block--right">
						<img src="assets/Companies3.png" alt="{{ 'OUR_COMPANIES.COMPANY_1.TITLE' | translate }}" class="company-block-img img-fluid" />

					</div>
				</div>

				<div class="col-lg-7">
					<div class="company-block company-block--right">
						<p class="company-block-text mb-3">
							{{ 'OUR_COMPANIES.COMPANY_1.EXTENDED_TEXT_2' | translate }}
						</p>
					</div>
				</div>
			</div>

			}
		</div>
	</div>
</section>
<section class="companies-family-section py-3" >
	<div class="container-fluid">
		<div class="companies-card">

			<div class="row g-4 align-items-center">


				<div class="col-lg-6">
					<div class="company-intro animate-on-scroll">
						<h3 class="company-intro-title">{{ 'OUR_COMPANIES.COMPANY_2.TITLE' | translate }}</h3>
						<p class="company-intro-text">
							{{ 'OUR_COMPANIES.COMPANY_2.INTRO_TEXT_1' | translate }}</p>
						<button (click)="toggleContent()" class="company-intro-link" [ngClass]="{'show-less': showMoreContent}">
							{{ showMoreContent ? ('OUR_COMPANIES.COMPANY_2.SHOW_LESS' | translate) : ('OUR_COMPANIES.COMPANY_2.SHOW_MORE' | translate) }}
						</button>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="companies-logo-box animate-on-scroll">
						<img src="assets/logoCompanies.png" alt="عائلة الإعمار" class="companies-logo-img" />
					</div>
				</div>
			</div>

			@if (showMoreContent) {
			<div class="row g-4 align-items-center mt-3 expandable-content" [@expandCollapse]>
				
				<div class="col-lg-5">
					<div class="company-block company-block--right">
						<img src="assets/Companies3.png" alt="{{ 'OUR_COMPANIES.COMPANY_2.TITLE' | translate }}" class="company-block-img img-fluid" />

					</div>
				</div>

				<div class="col-lg-7">
					<div class="company-block company-block--right">
						<p class="company-block-text mb-3">
							{{ 'OUR_COMPANIES.COMPANY_2.EXTENDED_TEXT_2' | translate }}
						</p>
					</div>
				</div>
			</div>

			}
		</div>
	</div>
</section>
<section class="companies-family-section py-3" >
	<div class="container-fluid">
		<div class="companies-card">

			<div class="row g-4 align-items-center">


				<div class="col-lg-6">
					<div class="company-intro animate-on-scroll">
						<h3 class="company-intro-title">{{ 'OUR_COMPANIES.COMPANY_3.TITLE' | translate }}</h3>
						<p class="company-intro-text">
							{{ 'OUR_COMPANIES.COMPANY_3.INTRO_TEXT_1' | translate }}</p>
						<button (click)="toggleContent()" class="company-intro-link" [ngClass]="{'show-less': showMoreContent}">
							{{ showMoreContent ? ('OUR_COMPANIES.COMPANY_3.SHOW_LESS' | translate) : ('OUR_COMPANIES.COMPANY_3.SHOW_MORE' | translate) }}
						</button>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="companies-logo-box animate-on-scroll">
						<img src="assets/logoCompanies.png" alt="عائلة الإعمار" class="companies-logo-img" />
					</div>
				</div>
			</div>

			@if (showMoreContent) {
			<div class="row g-4 align-items-center mt-3 expandable-content" [@expandCollapse]>

				<div class="col-lg-5">
					<div class="company-block company-block--right">
						<img src="assets/Companies3.png" alt="{{ 'OUR_COMPANIES.COMPANY_3.TITLE' | translate }}" class="company-block-img img-fluid" />

					</div>
				</div>

				<div class="col-lg-7">
					<div class="company-block company-block--right">
						<p class="company-block-text mb-3">
							{{ 'OUR_COMPANIES.COMPANY_3.EXTENDED_TEXT_2' | translate }}
						</p>
					</div>
				</div>
			</div>

			}
		</div>
	</div>
</section>



