:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

router-outlet + * {
  flex: 1;
}

app-footer {
  margin-top: auto;
}